.latifa-header{
    flex-direction: row;
    height: 55px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border-bottom: 1px solid #c8ced3;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

.header-left{
    padding-left: 16px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.header-right{
    padding-right: 16px;
    display: flex;
    align-items: center;
}

.logo{
    height: 50px;
}

.sidebarHeight{
    height: 100%;
}

