.latifa-header{
    flex-direction: row;
    height: 55px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border-bottom: 1px solid #c8ced3;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

.header-left{
    padding-left: 16px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.header-right{
    padding-right: 16px;
    display: flex;
    align-items: center;
}

.logo{
    height: 50px;
}

.sidebarHeight{
    height: 100%;
}

.buttonStyle{
    background-color: transparent;
    border:0
}

.buttonStyle:hover{
    background-color: #34495e;
}

.sidebar{
    background: #34495e;
    width: 18%;
    height: 1000000;
}

.closeAnim {
    animation: closeRotate 1s ease-in 0s alternate;
}
@keyframes closeRotate {
    to{
        transform: rotate(100deg)
    }
}

.closeMenu {
    animation: closeMenu 0s ease-in 0s alternate;
}
@keyframes closeMenu {
    to{
        transform: rotate(-60deg)
    }
}

