.latifa-header{
    flex-direction: row;
    height: 55px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border-bottom: 1px solid #c8ced3;
    position: fixed;
    width: 100%;
  	padding: 10px;
  	z-index: 20;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

.header-left{
    padding-left: 16px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.header-right{
    padding-right: 16px;
    display: flex;
    align-items: center;
}

.logo{
    height: 50px;
}

.iconProfile{
    height: 50px;
    border-radius: 50px;
}

.sidebarHeight{
    height: 100%;
}

.buttonStyle{
    background-color: transparent;
    border:0
}

.buttonStyleDrop{
    background-color: transparent;
    border:0
}

.buttonStyle:hover{
    background-color: #34495e;
}


.closeAnim {
    animation: closeRotate 1s ease-in 0s alternate;
}
@keyframes closeRotate {
    to{
        transform: rotate(100deg)
    }
}

.closeMenu {
    animation: closeMenu 0s ease-in 0s alternate;
}
@keyframes closeMenu {
    to{
        transform: rotate(-60deg)
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

